{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Sidebar 07</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar" class="active">
				<h1><a href="{% url 'dashboard:index' %}" class="logo">M.</a></h1>
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="#"><span class="fa fa-home"></span> Home</a>
          </li>
          <li>
              <a href="#"><span class="fa fa-user"></span> About</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-sticky-note"></span> Blog</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-cogs"></span> Services</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-paper-plane"></span> Contacts</a>
          </li>
        </ul>

        <div class="footer">
        	<p>
					  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
					</p>
        </div>
    	</nav>
      <section>
        <nav class="navbar ">
            <div class="container-fluid">
              <p>welcome!</p>
                <form class="d-flex  search_bar" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search..." aria-label="Search">
                </form>
            </div>
          </nav>
          <p>Dashboard</p>
    </section>

    <section class="image_card">
        <div class="card" >
            <img src="{% static 'images/balance.jpg' %}" class="card-img-top" alt="...">
        </div>
        <div class="card">
            <img src="{% static 'images/saved.jpg' %}" class="card-img-top" alt="...">
        </div>
        <div class="card">
            <img src="{% static 'images/arrearages.jpg' %}" class="card-img-top" alt="...">
        </div>
        <div class="card" >
            <img src="{}" class="card-img-top" alt="...">
        </div>
        <div class="card" >
            <img src="{% static 'images/transaction.jpg' %}" class="card-img-top" alt="...">
        </div>
        <div class="card"  id="pic1">
            <img src="{% static 'images/revenue.jpg' %}" class="card-img-top" alt="...">
        </div>
        <div class="card" >
            <img src="{}" class="card-img-top" alt="...">
        </div>
        <div class="card" id="pic2">
            <img src="{% static 'images/history.jpg' %}" class="card-img-top" alt="...">
        </div>
        <div class="card" >
            <img src="{% static 'images/expenses.jpg' %}" class="card-img-top" alt="...">
        </div>
        <div class="card" >
            <img src="{% static 'images/goals.jpeg' %}" class="card-img-top" alt="...">
        </div>

    </section>
  
		</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>